*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Image Slider CSS Start*/
.mySlides {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 6px;
	display: none
}
.mySlides img{
    width: 100%;
    height: 280px;
}

.slideshow-container {
	width: 100%;
    height: 280px;
	position: relative;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 12px;
	margin-top: -22px;
	color: black;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
    background-color: white;
}
.prev{
    margin-left: 6px;
}
.next {
    margin-right: 6px;
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
    color: white;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }
  
  @keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }
/*Image Slider CSS END*/





/*RESPONSIVE START*/
@media all and (min-width: 450px) and (max-width: 799px) 
{
   
    .slideshow-container,.mySlides img { 
        height: 220px; 
    }
    
}

@media all and (min-width: 0px) and (max-width: 449px) 
{
   
    .slideshow-container,.mySlides img { 
        height: 190px; 
    }
    
}
/*RESPONSIVE END*/